<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        package="at.sunilson.liveticker.liveticker">

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>
